﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    .dropArea {
        border: 2px dashed #CCC;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        transition: border-color 0.3s;
        height: 300px;
        border-radius: 1rem;
    }
        .dropArea.highlight {
            border-color: #007bff;
        }
    .glyphicon-cloud-upload {
        font-size: 50px;
        color: #007bff;
    }
    .droptxt {
        font-size: 1.2rem;
        margin-top: 10px;
        color: #949494;
        margin: 0;
    }
    .areaArchivo :hover {
        background: #F2FAFD;
    }
    .modal-header{
        background-color: #F9F9F9;
    }
    .table{
        overflow: auto;
        box-shadow: 0 .25rem .25rem 0 #CCC;
        margin: 5rem 0;
        table-layout: fixed;
        width: 100%;
    }
    .button-icon{
        border: none;
        background: transparent;
        margin: 0;
        padding: 0;
    }
    td {
        white-space: nowrap; /* Evita que el texto se ajuste en múltiples líneas */
        overflow: hidden; /* Oculta el contenido que excede el ancho de la celda */
        text-overflow: ellipsis; /* Muestra "..." si el contenido es demasiado largo */
    }
</style>

<!-- Alerta Danger -->
<div class="alert alert-danger alert-dismissible fade show mb-0 p-2 px-3" id="alertDanger" role="alert">
    <i class="fa-solid fa-triangle-exclamation" style="margin-right: .5rem;"></i><span id="alertDangerMensaje"></span>
</div>

<div class="text-center">
    <h1 class="display-4 mb-5">Documentos</h1>

    <form asp-action="UploadPdf" method="post" enctype="multipart/form-data">
        <div class="areaArchivo">
            <!-- Área de arrastrar y soltar -->
            <div aria-live="polite" class="dropArea d-flex justify-content-center align-items-center" id="dropArea">
                <input type="file" id="pdfFile" name="pdfFile" accept="application/pdf" required hidden multiple>

                <div>
                    <div>
                        <div>
                            <span aria-hidden="true" class="glyphicon glyphicon-cloud-upload"></span>
                        </div>
                        <i style="font-size: 50px; color: #FF7272;" class="fa-regular fa-file-pdf mb-1"></i>
                        <div class="droptxt">Arrastre o seleccione archivos PDF</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-2 text-center">
            <strong>Nombre de archivo:</strong> <span id="fileName">Ningún archivo seleccionado</span>
        </div>

        <!-- Botón de enviar (deshabilitado inicialmente) -->
        <div>
            <button type="button" class="btn btn-warning mt-4 btn-lg mx-1" onclick="limpiar();" style="width: 10rem;">
                <i class="fa-solid fa-broom" style="margin-right: .25rem;"></i>
                Limpiar
            </button>
            <button type="button" id="uploadBtn" class="btn btn-primary mt-4 btn-lg mx-1" disabled style="width: 10rem;">
                <i class="fa-solid fa-upload" style="margin-right: .25rem;"></i>
                Subir PDF
            </button>
        </div>
    </form>

    <!-- Tabla -->
    <table id="tableArchivos" class="table table-striped table-light" border="1">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Fecha Original</th>
                <th scope="col">Hash Original</th>
                <th scope="col">Fecha Firma</th>
                <th scope="col">Hash Firma</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody id="tableArchivosBody">
            <tr>
                <td colspan="6" class="text-center">No hay resultados disponibles</td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalle de Archivo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyContent">
                   
                </div>
                <div class="modal-footer" id="modalFooter">
                    
                </div>
            </div>
        </div>
    </div>

    <script>
        let itemActual = {};
        let tableArchivosItems = [];
        const alertDanger = document.getElementById('alertDanger');
        const alertDangerMensaje = document.getElementById('alertDangerMensaje');
        const dropArea = document.getElementById('dropArea');
        const fileInput = document.getElementById('pdfFile');
        const fileNameSpan = document.getElementById('fileName');
        const uploadBtn = document.getElementById('uploadBtn');
        const modalBodyContent = document.getElementById('modalBodyContent');
        const modalFooter = document.getElementById('modalFooter');
        const modalElement = document.getElementById('exampleModal');
        const tableArchivosBody = document.getElementById('tableArchivosBody');
        const modal = new bootstrap.Modal(modalElement);

        // Carga inicial
        alertDanger.style.display = "none";
        alertDangerMensaje.innerHTML = "";

        // Vincular el clic en el área grande de arrastrar y soltar para abrir el selector de archivos
        dropArea.addEventListener('click', function () {
            fileInput.click();  // Simular el clic en el input oculto
        });        

        // Capturar el cambio de selección de archivo
        fileInput.addEventListener('change', function () {
            alertDanger.style.display = "none";
            alertDangerMensaje.innerHTML = "";

            const fileName = fileInput.files.length > 0 ? fileInput.files[0].name : 'Ningún archivo seleccionado'; // Capturar el nombre del archivo
            fileNameSpan.textContent = fileName;  // Mostrar el nombre del archivo seleccionado
            uploadBtn.disabled = fileName === 'Ningún archivo seleccionado';  // Habilitar/deshabilitar el botón
            modalBodyContent.innerHTML = "";  // Limpiar body de modal
            modal.hide();  // Ocultar modal

            if (!fileName.includes(".pdf")) {
                alertDangerMensaje.innerHTML = "El archivo seleccionado no tiene un formato PDF.";
                alertDanger.style.display = "block";
                fileNameSpan.textContent = 'Ningún archivo seleccionado';
                fileInput.value = "";  // Asegurar que se limpie el selector de archivos
                uploadBtn.disabled = true;  // Deshabilitar el botón
            }
        });

        // Resaltar el área cuando el archivo se arrastra por encima
        ['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, (e) => {
                e.preventDefault();
                dropArea.classList.add('highlight');
            });
        });

        // Quitar el resaltado cuando el archivo deja el área
        ['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, (e) => {
                e.preventDefault();
                dropArea.classList.remove('highlight');
            });
        });

        // Manejar el drop
        dropArea.addEventListener('drop', (e) => {
            e.preventDefault();
            if (e.dataTransfer.files.length) {
                alertDanger.style.display = "none";
                alertDangerMensaje.innerHTML = "";

                fileInput.files = e.dataTransfer.files;  // Asignar los archivos arrastrados al input
                const fileName = fileInput.files.length > 0 ? fileInput.files[0].name : 'Ningún archivo seleccionado'; // Capturar el nombre del archivo
                fileNameSpan.textContent = fileName;  // Mostrar el nombre del archivo
                uploadBtn.disabled = fileName === 'Ningún archivo seleccionado';  // Habilitar/deshabilitar el botón
                modalBodyContent.innerHTML = "";  // Limpiar body de modal
                modalFooter.innerHTML = "";  // Limpiar footer de modal
                modal.hide();  // Ocultar modal

                if (!fileName.includes(".pdf")) {
                    alertDangerMensaje.innerHTML = "El archivo seleccionado no tiene un formato PDF.";
                    alertDanger.style.display = "block";
                    fileNameSpan.textContent = 'Ningún archivo seleccionado';
                    fileInput.value = "";  // Asegurar que se limpie el selector de archivos
                    uploadBtn.disabled = true;  // Deshabilitar el botón
                }
            }
        });

        // Mostrar el PDF en el modal cuando se haga clic en el botón de "Subir PDF"
        uploadBtn.addEventListener('click', function () {
            alertDanger.style.display = "none";
            alertDangerMensaje.innerHTML = "";

            let formData = new FormData();
            let pdfFile = fileInput.files[0];

            if (!pdfFile) {
                alertDangerMensaje.innerHTML = "Por favor, seleccione un archivo PDF.";
                alertDanger.style.display = "block";
                return;
            }

            formData.append('pdfFile', pdfFile);

            fetch('/Home/UploadPdf', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success && data) {
                        // Verificar existencia de archivo en tabla
                        const itemEncontrado = tableArchivosItems.find((i) => i.hashOriginal === data.hash);
                        if (itemEncontrado) {
                            alertDangerMensaje.innerHTML = "El archivo seleccionado ya existe.";
                            alertDanger.style.display = "block";
                            fileNameSpan.textContent = 'Ningún archivo seleccionado';
                            fileInput.value = "";  // Asegurar que se limpie el selector de archivos
                            uploadBtn.disabled = true;  // Deshabilitar el botón
                            return;
                        }

                        // Limpiar y ocultar el modal
                        modalBodyContent.innerHTML = "";  // Limpiar body de modal
                        modalFooter.innerHTML = "";  // Limpiar footer de modal
                        modal.hide();  // Ocultar modal

                        // Guardar ítem actual
                        let item = {
                            code: data.code ? data.code : "No registra",
                            dateOriginal: data.date ? data.date : "No registra",
                            hashOriginal: data.hash ? data.hash : "No registra",
                            pdfBase64Original: data.pdfBase64 ? data.pdfBase64 : "No registra",
                            dateFirma: "No registra",
                            hashFirma: "No registra",
                            pdfBase64Firma: "No registra",
                        };
                        itemActual = item;

                        // Preparar body de modal
                        modalBodyContent.innerHTML = `
                        <div class="d-flex-column" id="areaDetalleArchivo">
                            <p><strong>Código:</strong> ${data.code}</p>
                            <p><strong>Fecha:</strong> ${data.date}</p>
                            <p><strong>Hash:</strong> ${data.hash}</p>
                            <iframe src="data:application/pdf;base64,${data.pdfBase64}" style="width: 100%; height: 600px;" frameborder="0"></iframe>
                        </div>`;

                        // Preparar footer de modal
                        modalFooter.innerHTML = `
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark" style="margin-right: .25rem;"></i>
                            Cancelar
                        </button>
                        <button type="button" class="btn btn-primary" onclick="insertItem();">
                            <i class="fa-solid fa-check" style="margin-right: .25rem;"></i>
                            Confirmar
                        </button>`;

                        modal.show();  // Mostrar el modal
                    } else {
                        alertDangerMensaje.innerHTML = "Error al subir el archivo PDF.";
                        alertDanger.style.display = "block";
                    }
                })
                .catch(error => {
                    alertDangerMensaje.innerHTML = `Error inesperado: ${error}`;
                    alertDanger.style.display = "block";
                });
        });
    </script>

    <script>
        const insertItem = () => {
            if (itemActual) {
                const { code, dateOriginal, hashOriginal, dateFirma, hashFirma } = itemActual;

                // Setear body de la tabla, si es necesario
                if (tableArchivosItems.length === 0) {
                    tableArchivosBody.innerHTML = "";
                }

                // Insertar ítem actual a la lista de ítems de la tabla
                tableArchivosItems.push(itemActual);

                // Preparar nueva row con ítem actual
                const rowNew = `
                    <tr>
                        <td>
                            ${code}
                        </td>
                        <td>
                            ${dateOriginal}
                        </td>
                        <td>
                            ${hashOriginal}
                        </td>
                        <td>
                            ${dateFirma}
                        </td>
                        <td>
                            ${hashFirma}
                        </td>
                        <td style="flex-wrap: wrap;">
                            <div class="d-flex justify-content-center align-items-center" style="flex-wrap: wrap;">
                                <button class="button-icon" onclick="verItem('${code}');">
                                    <i class="fa-solid fa-eye" size="24" style="color: #0B5ED7;"></i>
                                </button>
                            </div>
                        </td>
                    </tr>`;

                // Insertar nueva row al body de la tabla
                tableArchivosBody.innerHTML += rowNew;

                // Reset de ítem actual
                itemActual = {};

                // Limpiar y ocultar el modal
                modalBodyContent.innerHTML = "";  // Limpiar body de modal
                modalFooter.innerHTML = "";  // Limpiar footer de modal
                modal.hide();  // Ocultar modal

                fileNameSpan.textContent = 'Ningún archivo seleccionado';  // Mostrar el nombre del archivo
                uploadBtn.disabled = true;  // Deshabilitar el botón
                fileInput.value = "";  // Asegurar que se limpie el selector de archivos
            }
        };

        const verItem = (code) => {
            // Buscar ítem
            const itemEncontrado = tableArchivosItems.find((i) => i.code === code);

            if (itemEncontrado) {
                const { code, dateOriginal, hashOriginal, pdfBase64Original } = itemEncontrado;

                // Limpiar y ocultar el modal
                modalBodyContent.innerHTML = "";  // Limpiar body de modal
                modalFooter.innerHTML = "";  // Limpiar footer de modal
                modal.hide();  // Ocultar modal

                // Preparar body de modal
                modalBodyContent.innerHTML = `
                <div class="d-flex-column" id="areaDetalleArchivo">
                    <p><strong>Código:</strong> ${code}</p>
                    <p><strong>Fecha:</strong> ${dateOriginal}</p>
                    <p><strong>Hash:</strong> ${hashOriginal}</p>
                    <iframe src="data:application/pdf;base64,${pdfBase64Original}" style="width: 100%; height: 600px;" frameborder="0"></iframe>
                </div>`;

                // Preparar footer de modal
                modalFooter.innerHTML = `
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="margin-right: .25rem;"></i>
                    Cerrar
                </button>`;
                
                modal.show();  // Mostrar el modal
            }
        };

        const limpiar = () => {
            alertDanger.style.display = "none";
            alertDangerMensaje.innerHTML = "";
            fileNameSpan.textContent = 'Ningún archivo seleccionado';
            fileInput.value = "";  // Asegurar que se limpie el selector de archivos
            uploadBtn.disabled = true;  // Deshabilitar el botón
        };
    </script>
</div>
